# Service definitions for e2e testing.
# Run the tests with
# ```
# docker-compose --file docker-compose.yml --file docker-compose.test.yml up --build --exit-code-from tests db web tests
# ```
---
services:
  web:
    build:
      context: .
      dockerfile: .contrib/docker/Dockerfile.web
    # Rebuilding web container to run django app server for cypress e2e tests
    command: bash -c "python manage.py collectstatic --no-input && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    environment:
      # Use a test database.
      # This should make it a bit less likely for someone to run integration
      # tests on production tables and accidentally drop all data.
      DATABASE_URL: mysql://root:password@db/test_poradnia
      TEST: 1
      # Console email backend needed for cypress user authentication
      DJANGO_EMAIL_BACKEND: django.core.mail.backends.console.EmailBackend
      DJANGO_DEFAULT_FROM_EMAIL: "poradnia_dev <noreply@dev.porady.siecobywatelska.pl>"
      DJANGO_RICH_TEXT_ENABLED: "False"
      ACCOUNT_EMAIL_VERIFICATION: "optional"
      TURNSTILE_ENABLE: "False"
      REQUESTS_CA_BUNDLE: "/etc/ssl/certs/ca-certificates.crt"
      SSL_CERT_FILE: "/etc/ssl/certs/ca-certificates.crt"
    networks:
      - poradnia-app-network

  tests:
    depends_on:
      - db
      - web
    build:
      context: ./tests/
      dockerfile: Dockerfile
    environment:
      # Use the same test database as the web container.
      DATABASE_URL: mysql://root:password@db/test_poradnia
      # Cypress needs to know where the web server is.
      CYPRESS_BASE_URL: http://web:8000
      # To bypass MFA in E2E tests, we use a custom header and secret.
      E2E_MFA_BYPASS_ENABLED: "1"
      E2E_MFA_BYPASS_HEADER: "HTTP_X_E2E_BYPASS_MFA"
      E2E_MFA_BYPASS_SECRET: "supersecret-123"
    volumes:
      - ./tests:/e2e
      - /e2e/node_modules # un-shadow node_modules
    networks:
      - poradnia-app-network
    working_dir: /e2e
    command: sh -c "npx wait-on http://web:8000 && npx cypress run --e2e --config video=true"

networks:
  poradnia-app-network:
    driver: bridge
